<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 부트스트랩 CSS 추가 (경로 확인 필요) -->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        table th, table td {
            width: auto;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="row my-3">
                <div class="col-6">
                    <div class="input-group">
                        <a href="/post/list" class="navbar-brand" style="font-size: 20px; font-weight: bold;">Home</a>
                        <a th:href="@{/member/login}" class="btn btn-info ml-2" sec:authorize="isAnonymous()">로그인</a>
                        <a th:href="@{/member/logout}" class="btn btn-danger ml-2" sec:authorize="isAuthenticated()">로그아웃</a>
                        <a th:href="@{/member/signup}" class="btn btn-info ml-2">회원가입</a>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="input-group">
                        <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
                        </div>
                    </div>
                    <a th:href="@{/post/create}" class="btn btn-primary ml-2">게시글 쓰기</a>
                </div>
            </div>
            <table class="table table-striped table-horizontal table-bordered mt-3">
                <thead class="thead-strong">
                <tr>
                    <th width="10%">번호</th>
                    <th width="">제목</th>
                    <th width="20%">작성자</th>
                    <th width="20%">작성일시</th>
                    <th width="20%">수정일시</th>
                    <th width="10%">조회수</th>
                    <th width="10%">댓글수</th>
                </tr>
                </thead>
                <tbody>
                <!-- 게시글 목록을 출력하는 Thymeleaf 코드 작성 -->
                <tr  class="text-center" th:each="post, loop : ${paging}">
                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                    <td>
                        <a th:href="@{|/post/detail/${post.id}|}" th:text="${post.subject}"></a>
                    </td>
                    <!--                    <td th:text="${post.author}"></td>-->
                    <td><span th:if="${post.author != null}" th:text="${post.author.nickname}"></span></td>
                    <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#temporals.format(post.modifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${post.readCnt}"></td>
                    <td th:text="${post.commentList.size()}"></td>
                </tr>
                </tbody>
            </table>

            <!-- 페이징처리 시작 -->
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number} ? 'active'" class="page-item">
                        <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link"  href="javascript:void(0)" th:data-page="${paging.number+1}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 페이징처리 끝 -->
            <form th:action="@{/post/list}" method="get" id="searchForm">
                <input type="hidden" id="kw" name="kw" th:value="${kw}">
                <input type="hidden" id="page" name="page" th:value="${paging.number}">
            </form>
            <!--            <button type="button" class="btn btn-success ml-2" onclick="javascript:location.href='/post/listpage'">목록으로</button>-->


        </div>
    </div>
</div>
<!-- 여기부터는 javascript 부분 -->
<script type='text/javascript'>
    const page_elements = document.querySelectorAll(".page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            const page = this.getAttribute("data-page");
            document.getElementById('page').value = page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        const search_kw = document.getElementById('search_kw').value;
        document.getElementById('kw').value = search_kw;
        document.getElementById('page').value = 0;  // 검색 버튼을 클릭할 경우 0페이지부터 조회합니다.
        document.getElementById('searchForm').submit();
    });
</script>
<!-- 부트스트랩 및 jQuery 추가 (경로 확인 필요) -->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

</body>
</html>