<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 상세보기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 부트스트랩 css 추가 -->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <!--    <h2 style="font-size: 16px;">댓글 작성</h2>-->
    <!--    <h1>게시글 상세보기</h1>-->
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" id="" name="" th:value="${post.subject}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="5" cols="" name="" th:text="${post.content}"></textarea>
    </div>
    <!--    <button type="button" class="btn btn-success" onclick="javascript:location.href='/post/list'">목록으로</button>-->

    <!-- 댓글 목록 표시 -->
    <div class="my-4">
        <!--        <h2>댓글 목록</h2>-->
        <h2 style="font-size: 16px;">댓글 목록</h2>
        <ul class="list-group">
            <li class="list-group-item" th:each="comment : ${post.commentList}">
                <span th:text="${comment.content}"></span>
            </li>
        </ul>
    </div>

    <!-- 댓글 입력 폼 -->

    <h2 style="font-size: 16px;">댓글 작성</h2>
    <form th:action="@{|/comment/create/${post.id}|}" th:object="${commentRequest}" method="post" class="my-3">
        <!--        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">-->
        <!--            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
        <!--        </div>-->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="form-group">
            <textarea th:field="*{content}" class="form-control"></textarea>
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary">댓글 등록</button>
            <button type="button" class="btn btn-success ml-2" onclick="javascript:location.href='/post/listpage'">목록으로</button>
            <button type="button" class="btn btn-warning ml-2">수정</button>
        </div>
    </form>
</div>


<!-- 부트스트랩 js, jquery 추가 -->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>